.container {
  display: flex;
  flex-direction: column;
}

.container-form{
  width: 300px;
  display: flex;
  flex-direction: column;
}

.form-text {
  height: 30px;
  border-radius: 8px;
}

.btn-container{
  width: 100%;
  display: flex;
  justify-content: end;
}

.button {
  letter-spacing: -.015em;
  padding: 0.5em;
  font-weight: bold;
  border-radius: 50px;
  margin-top: 5px;
}

.button:hover {
  transform: scale(1.1);
}

textarea{
  border-radius: 8px;
}
