.home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-name: rebote;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: inherit;
}

.logo{
  margin-top: 50px;
}

@keyframes rebote {

  0% {
  
  tranform: scale (0.1);
  
  scale: 0;
  
  }
  
  60% {
  
  transform: scale (1.2);
  
  opacity: 1;
  
  }
  
  100% {
  
  transform: scale (1);
  
  }
}