.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: #fff;
  padding: 14px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar li {
  font-size: 1.2rem;
}

.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  gap: 10px;
}

.navbar-logo {
  width: 50px;
}

.navbar-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #262626;
}

.navbar-toggle-icon {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.navbar-list {
  position: relative;
  display: flex;
  list-style: none;
  gap: 15px;
  margin-right: 20px;
}

.navbar-dropdown {
  position: absolute;
  display: flex;
  gap: 10px;
}

.navbar-list li:hover,
.navbar-dropdown li:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .navbar-dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color:#fff;
    transform: translate(0px, 85px);
    width: 95%;
    z-index: 3;
  }

  .dropdown-mobile {
    display: block;
    text-align: center;
    position: absolute;
    background:#fff;
    width: 95%;
    height: 100%;
    gap: 10px;
    transform: translate(-100px);
  } 
}