.main-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

header {
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}








