:root {
  font-family: 'Lobster', cursive, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color-scheme: light dark;
  color: #666666;
  background-color: #FAFBFB;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%
}

a {
  text-decoration: inherit;
  cursor: pointer;
  color: white;
  transition: all 1s ease;
}

a:hover {
  transform: scale(1.1);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ul {
  list-style: none;
}

button,
.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: .8em;
  font-family: inherit;
  background-color: #90e4e4 ;
  cursor: pointer;
  transition: all 1s ease;
}



